@inherits LayoutComponentBase

<MudThemeProvider />
<MudPopoverProvider />
<MudDialogProvider />
<MudSnackbarProvider />

<div class="page">
    <main>
        <MudLayout>
            <MudMainContent Class="pt-16 px-16">

                <MudGrid Spacing="2" Justify="Justify.Center">
                    <MudItem lg="12" xs="12"><MudSpacer></MudSpacer></MudItem>
                    <MudItem lg="12" xs="12" Style="background-color:lightpink">
                        <MudText Typo="Typo.h6">ClariSオフ向け ランダム選曲システム</MudText>
                    </MudItem>
                </MudGrid>

            </MudMainContent>
        </MudLayout>
    </main>
</div>

@code {

}