@inherits LayoutComponentBase

<MudThemeProvider />
<MudPopoverProvider />
<MudDialogProvider />
<MudSnackbarProvider />

<div class="page">
    <main>
        <MudLayout>
            <MudMainContent Class="pt-16 px-16">

                <MudGrid>
                    <MudItem lg="12">
                        <MudGrid Spacing="4" Justify="Justify.Center">
                            <MudItem lg="12" Style="background-color:lightpink">
                                <MudText Typo="Typo.h6">ClariSオフ向け ランダム選曲システム</MudText>
                            </MudItem>

                            <MudItem lg="12">
                                <MudForm>
                                    <MudRadioGroup @bind-Value="SelectedModel">
                                        <MudGrid Spacing="3" Justify="Justify.Center">
                                            <MudItem lg="1" />
                                            <MudItem lg="3">
                                                <MudRadio Value="0" Size="Size.Small">全機種</MudRadio>
                                            </MudItem>
                                            <MudItem lg="3">
                                                <MudRadio Value="1" Size="Size.Small">JOYSOUND</MudRadio>
                                            </MudItem>
                                            <MudItem lg="3">
                                                <MudRadio Value="2" Size="Size.Small">DAM</MudRadio>
                                            </MudItem>
                                            <MudItem lg="2" />
                                        </MudGrid>
                                    </MudRadioGroup>
                                </MudForm>
                            </MudItem>
                        </MudGrid>
                    </MudItem>
                </MudGrid>

            </MudMainContent>
        </MudLayout>
    </main>
</div>

@code {
    private int SelectedModel = 0;
}